{% extends 'base.html' %}

{% block title %} List of trainer {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="GET">
                        <div class="card-body">
                            {{ form_filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'list-of-trainers' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                {% if all_trainers %}
                    {% for trainer in all_trainers %}
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ trainer.first_name }}</h5>
                                    <p class="card-text">Course: {{ trainer.course }}</p>
                                {% if  perms.trainer.change_trainer or  perms.trainer.delete_trainer  or perms.trainier.view_trainer %}
                                    <div class="dropdown">
                                        <button class="btn btn-outline-success dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if perms.trainer.change_trainer %}
                                            <li><a class="dropdown-item" href="{% url 'update-trainer' trainer.id %}">Update</a></li>
                                            {% endif %}
                                        {% if perms.trainer.delete_trainer %}
                                            <li><a class="dropdown-item" href="{% url 'delete-trainer' trainer.id %}">Delete</a></li>
                                        {% endif %}
                                        {% if perms.trainier.view_trainer %}
                                            <li><a class="dropdown-item" href="{%  url 'details-trainer' trainer.id %}">View</a></li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}